<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width"/>
	<title>Supera Tecnologia</title>
	<link rel="stylesheet" th:href="@{/css/estilo.css}" />
</head>
<body>
<header>
	<nav>
		<ul>
			<li><a th:href="@{/}"> Supera Tecnologia </a></li>
		</ul>
	</nav>
</header>
<main>
	<section>
		<h1>Seja bem-vindo(a)! O que deseja fazer hoje?</h1>
	</section>
	<div class="botoes">
		<div class="botoes1">
	<section>
		<button class="botao1"><a th:href="@{/listas}"> Ver minhas listas </a></button>
	</section>
		</div>
		<div class="botoes2">
	<section>
		<form th:action="@{/listas}" method="post">
			<div class="direito">
			<div class="direito1">
			<button class="botao1" type="submit"><a>Criar nova lista</a></button>
			</div>
			<div class="direito2">
			<input class="input-index" type="text" name="nome" placeholder="Nome da nova lista"
				   required maxlength="40"
				   oninput="this.setCustomValidity('')"
				   oninvalid="this.setCustomValidity('')" />
			<span class="error-message">O nome da lista deve ter até 40 caracteres.</span>
			</div>
			</div>
		</form>
	</section>
		</div>
	</div>
</main>
</body>
</html>


